@font-face {
  font-family: "Jost", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
}

body {
  margin: 0;

  .info-bar {
    display: flex;
    background: #f9f3f1;
    align-items: center;
    height: 50px;
    padding: 0 20px;

    .img {
      width: 15px;
      height: 15px;
    }

    .line {
      border-left: lightgray 1px solid;
      height: 50px;
      padding-right: 13px;
    }

    p {
      font-family: Jost;
      color: #000;
      font-style: normal;
      line-height: normal;
      font-weight: 400;
      font-size: 14px;
      padding: 8px 12px;
      margin: 0;
    }
  }

  .nav-bar {
    display: flex;

    .logo {
      padding: 35px;
      width: 150px;

      .lo {
        font-family: Old Standard TT;
        color: #b58152;
        font-style: normal;
        line-height: normal;
        font-weight: 700;
        font-size: 33px;
      }

      .go {
        font-family: Old Standard TT;
        color: #ed806b;
        font-style: normal;
        line-height: normal;
        font-weight: 700;
        font-size: 33px;
      }
    }

    .sections {
      flex: 1 1 0;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      align-items: center;
      font-weight: bold;
      padding: 0;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  .pic-title {
    display: flex;
    justify-content: space-around;

    .img-title {
      width: 100%;
    }

    .title {
      font-family: Old Standard TT;
      align-self: center;
      color: white;
      font-style: normal;
      line-height: normal;
      position: absolute;
      font-size: 84px;
      font-weight: 700;
      z-index: 1;
    }
  }

  .overview {
    display: flex;
    padding: 30px;

    .left-section {
      display: flex;
      width: calc(50% - 150px);
      padding-left: 150px;

      .rectangle {
        background: #fff;
        border: 10px solid #b58152;
        width: 218px;
        height: 347px;
        flex-shrink: 0;
        border-radius: 14px;
      }

      .img {
        position: absolute;
        width: 510px;
        height: 310px;
        flex-shrink: 0;
        z-index: 1;
        padding: 17px;
      }
    }

    .right-section {
      justify-content: center;
      width: calc(50% - 50px);
      padding: 50px;

      .h6 {
        font-family: Jost;
        color: #000;
        font-style: normal;
        line-height: normal;
        font-size: 20px;
        font-weight: 500;
      }

      .h3 {
        font-family: Jost;
        color: #000;
        font-style: normal;
        line-height: normal;
        font-size: 36px;
        font-weight: 500;
      }

      .p {
        font-family: Jost;
        color: #555;
        font-style: normal;
        line-height: normal;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .services {
    background: #f3f0eb;
    padding: 20px;

    h2 {
      font-family: Jost;
      color: #000;
      text-align: center;
      font-style: normal;
      line-height: normal;
      font-size: 32px;
      font-weight: 700;
      padding: 30px;
    }

    p {
      font-family: Jost;
      color: #555;
      text-align: center;
      font-style: normal;
      line-height: normal;
      font-size: 16px;
      font-weight: 400;
      padding: 20px 300px;
    }

    .icon-services {
      display: flex;
      justify-content: space-around;
      padding: 0 300px;

      .icon-text {
        display: flex;
        flex-direction: column;
        text-align: center;

        &:not(:last-of-type)::after { 
          content: ' ';
          width: calc( (100% - 600px) / 5);
          height: 1px;
          background-color: #A2886A;
          margin-top: 39px;
          position: absolute;
          z-index: 1;
        }

        span {
          padding: 10px 0;
        }

        .img {
          width: 49px;
          height: 49px;
          flex-shrink: 0;
        }
      }

      .circle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        z-index: 2;
      }

      .circle:hover {
        background-color: #a2886a;
      }

      .img {
        position: absolute;
        z-index: 1;
      }
    }
  }

  .description-box {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-around;
    margin: 25px 300px;

    .description-column-services {
      display: flex;
      flex-direction: column;
      margin: 30px auto 30px 0;
      width: 300px;
      height: 406px;

      .rectangle {
        background: #f3f0eb;
        display: flex;
        justify-content: left;
        border-radius: 0px 20px 20px 0px;
        width: 252px;
        height: 46px;
        margin: 8px 0px;

        .box-cross-text {
          display: flex;
          flex-direction: row;
          align-items: center;

          .cross {
            width: 13px;
            height: 13px;
          }

          h5 {
            font-family: Jost;
            color: #000;
            font-style: normal;
            line-height: normal;
            text-align: left;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.8px;
            width: 200px;
            margin-left: 20px;
          }
        }

        .box-cross {
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: #a2886a;
          border-radius: 0px 20px 20px 0px;
          width: 36px;
          height: 46px;
        }
      }

      .rectangle:hover {
        background: #a2886a;
      }
    }

    .description-pic-services {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f6f4ef;
        width: 400px;
        height: 400px;
        border-radius: 50%;

        .img {
          width: 380px;
          height: 380px;
          border-radius: 50%;
        }
      }
    }

    .description-services {
      width: 430px;
      padding: 15px;
      h3 {
        color: #000;
        font-family: Jost;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.6px;
      }

      h4 {
        font-family: Jost;
        font-style: normal;
        line-height: normal;
        color: #70562c;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.9px;
      }

      p {
        font-family: Jost;
        line-height: normal;
        font-style: normal;
        color: #555;
        text-align: left;
        padding: 0 15px 0 0;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .spa {
    background-color: #fff;
    border: #000 solid 3px;
  }
}
