<!-- <div class="info-bar">
  <img src="assets/mail_1.png" alt="">
  <p>info@louisvillebeautysalon.com</p>
  <img src="assets/telephone-call 1.png" alt="">
  <p>+654 555555</p>
</div> -->

<div class="nav-bar">
  <div class="logo">
    <span class="lo">LO</span>
    <span class="go">GO</span>
  </div>
  <ul class="sections">
    <li><a href="nav-bar/navbar.component.html">Liposuction</a></li>
    <li><a href="nav-bar/navbar.component.html">Coolsculpting</a></li>
    <li><a href="nav-bar/navbar.component.html">Ultherapy</a></li>
    <li><a href="nav-bar/navbar.component.html">Laser Treatments</a></li>
    <li><a href="nav-bar/navbar.component.html">Med Spa</a></li>
    <li><a href="nav-bar/navbar.component.html">Spa Menu</a></li>
    <li><a href="nav-bar/navbar.component.html">Shop</a></li>
    <li><a href="nav-bar/navbar.component.html">Events</a></li>
    <li><a href="nav-bar/navbar.component.html">Specials</a></li>
    <li><a href="nav-bar/navbar.component.html">About</a></li>
    <li><a href="nav-bar/navbar.component.html">Contact</a></li>
  </ul>
</div>

<div class="pic-title">
  <img src="assets/photo1.png" alt="" />
  <h1 class="title">Laser Skin Resurfacing</h1>
</div>

<div class="overview">
  <div class="left-section">
    <div class="rectangle">
      <img class="img" src="assets/femme2.png" alt="" />
    </div>
  </div>
  <div class="right-section">
    <h6>We Provide</h6>
    <h3>Welcome to Spa Center</h3>
    <p>
      Spread over two floors, our beautiful spa offer a soothing environment in
      which you can rest, relax and feel competely rejuvenated. Lorem Ipsum is
      simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to make a type
      specimen book. remaining essentially unchanged. It was popularised in the
      with theLorem Ipsum is simply dummy text of the printing and eentially
      unchanged.
    </p>
  </div>
</div>

<div class="services">
  <h2>Our Services</h2>
  <p>
    Spread over two floors, our beautiful spa offer a soothing environment in
    which you can rest, relax and feel competely rejuvenated. Lorem Ipsum is
    simply dummy text of the printing and typesetting industry. Lorem Ipsum has
    been the industry's standard dummy text ever since the 1500s, when an
    unknown printer took a galley of type and scrambled it to make a type
    specimen book. remaining essentially unchanged. It was popularised in the
    with theLorem Ipsum is simply dummy text of the printing and eentially
    unchanged.
  </p>

  <div class="icon-services">
    <img src="assets/massage 1.png" />
    <span>Spa</span>
    <img src="assets/massage 2.png" />
    <span>Hair makeup</span>
    <img src="assets/massage 3.png" />
    <span>Waxing</span>
    <img src="assets/massage 4.png" />
    <span>Facial</span>
    <img src="assets/massage 5.png" />
    <span>Massage</span>
  </div>

  <span class="description-column-services">
    <img src="assets/massage_cross.png" alt="" />
    <h5>Massage Therapy</h5>
    <img src="assets/massage_cross.png" alt="" />
    <h5>Facials</h5>
    <img src="assets/massage_cross.png" alt="" />
    <h5>Pedicures</h5>
    <img src="assets/massage_cross.png" alt="" />
    <h5>Manicures</h5>
    <img src="assets/massage_cross.png" alt="" />
    <h5>Body Wraps</h5>
    <img src="assets/massage_cross.png" alt="" />
    <h5>Waxing & Cosmetics</h5>
  </span>

  <span class="description-pic-services">
    <img src="" alt="" />
  </span>

  <span class="description-services">
    <h3>Massage Therapy $40 - $80</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. remaining essentially unchanged. It was
      popularised in the with theLorem Ipsum is simply dummy text of the
      printing and eentially unchanged. Read More
    </p>
  </span>
</div>

<div class="spa">
  <h1>BEAUTY AND SPA CENTER</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. remaining essentially unchanged. It was
    popularised in the with theLorem Ipsum is simply dummy text of the printing
    and eentially unchanged.
  </p>

  <div class="diapo-spa">
    <img src="" alt="" />
    <div class="little-box-diapo-spa">
      <h4>Sauna Massage NATURAL HEALTH</h4>
    </div>
  </div>
</div>

<div class="specialist">
  <h1>Our Experience Specialists</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled
  </p>
  <div class="box-diapo-specialist">
    <div class="diapo-specialist">
      <img src="" alt="" />
      <h6>Mattie Joshef</h6>
      <p>dematologist</p>
    </div>
    <div class="diapo-specialist">
      <img src="" alt="" />
      <h6>Mattie Joshef</h6>
      <p>dematologist</p>
    </div>
    <div class="diapo-specialist">
      <img src="" alt="" />
      <h6>Mattie Joshef</h6>
      <p>dematologist</p>
    </div>
  </div>
</div>
