<html>
  <body>
    <div class="info-bar">
      <img src="assets/mail_1.png" alt="" />
      <p>info@louisvillebeautysalon.com</p>
      <div class="line"></div>
      <img src="assets/telephone-call 1.png" alt="" />
      <p>+654 555555</p>
    </div>

    <div class="nav-bar">
      <div class="logo">
        <span class="lo">LO</span>
        <span class="go">GO</span>
      </div>
      <ul class="sections">
        <li><a href="#1">Liposuction</a></li>
        <li><a href="#2">Coolsculpting</a></li>
        <li><a href="3">Ultherapy</a></li>
        <li><a href="4">Laser Treatments</a></li>
        <li><a href="5">Med Spa</a></li>
        <li><a href="6">Spa Menu</a></li>
        <li><a href="7">Shop</a></li>
        <li><a href="8">Events</a></li>
        <li><a href="9">Specials</a></li>
        <li><a href="1">About</a></li>
        <li><a href="2">Contact</a></li>
      </ul>
    </div>

    <div id="1" class="pic-title">
      <img class="img-title" src="assets/photo1.png" alt="" />
      <h1 class="title">Laser Skin Resurfacing</h1>
    </div>

    <div id="2" class="overview">
      <div class="left-section">
        <div class="rectangle">
          <img class="img" src="assets/femme2.png" alt="" />
        </div>
      </div>
      <div class="right-section">
        <h6>We Provide</h6>
        <h3>Welcome to Spa Center</h3>
        <p>
          Spread over two floors, our beautiful spa offer a soothing environment
          in which you can rest, relax and feel competely rejuvenated. Lorem
          Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it
          to make a type specimen book. remaining essentially unchanged. It was
          popularised in the with theLorem Ipsum is simply dummy text of the
          printing and eentially unchanged.
        </p>
      </div>
    </div>

    <div id="3" class="services">
      <h2>Our Services</h2>
      <p>
        Spread over two floors, our beautiful spa offer a soothing environment
        in which you can rest, relax and feel competely rejuvenated.
        <br /><br />
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. remaining essentially
        unchanged. It was popularised in the with theLorem Ipsum is simply dummy
        text of the printing and eentially unchanged.
      </p>

      <div id="4" class="icon-services">
        <div class="icon-text">
          <div class="circle">
            <img class="img" src="assets/massage 1.png" />
          </div>
          <span>Spa</span>
        </div>
        <div class="icon-text">
          <div class="circle">
            <img class="img" src="assets/massage 2.png" />
          </div>
          <span>Hair makeup</span>
        </div>
        <div class="icon-text">
          <div class="circle">
            <img class="img" src="assets/massage 3.png" />
          </div>
          <span>Waxing</span>
        </div>
        <div class="icon-text">
          <div class="circle">
            <img class="img" src="assets/massage 4.png" />
          </div>
          <span>Facial</span>
        </div>
        <div class="icon-text">
          <div class="circle">
            <img class="img" src="assets/massage 5.png" />
          </div>
          <span>Massage</span>
        </div>
      </div>

      <div class="description-box">
        <div class="description-column-services">
          <div class="rectangle">
            <div class="box-cross-text">
              <div class="box-cross">
                <img class="cross" src="assets/massage_cross.png" alt="" />
              </div>
              <h5>Massage Therapy</h5>
            </div>
          </div>
          <div class="rectangle">
            <div class="box-cross-text">
              <div class="box-cross">
                <img class="cross" src="assets/massage_cross.png" alt="" />
              </div>
              <h5>Facials</h5>
            </div>
          </div>
          <div class="rectangle">
            <div class="box-cross-text">
              <div class="box-cross">
                <img class="cross" src="assets/massage_cross.png" alt="" />
              </div>
              <h5>Pedicures</h5>
            </div>
          </div>
          <div class="rectangle">
            <div class="box-cross-text">
              <div class="box-cross">
                <img class="cross" src="assets/massage_cross.png" alt="" />
              </div>
              <h5>Manicures</h5>
            </div>
          </div>
          <div class="rectangle">
            <div class="box-cross-text">
              <div class="box-cross">
                <img class="cross" src="assets/massage_cross.png" alt="" />
              </div>
              <h5>Body Wraps</h5>
            </div>
          </div>
          <div class="rectangle">
            <div class="box-cross-text">
              <div class="box-cross">
                <img class="cross" src="assets/massage_cross.png" alt="" />
              </div>
              <h5>Waxing & Cosmetics</h5>
            </div>
          </div>
        </div>

        <span class="description-pic-services">
          <div class="circle">
            <img class="img" src="assets/femma3.png" alt="" />
          </div>
        </span>

        <span class="description-services">
          <h3>Massage Therapy</h3>
          <h4>$40 - $80</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. remaining essentially
            unchanged. It was popularised in the with theLorem Ipsum is simply
            dummy text of the printing and eentially unchanged.
          </p>
          <h4>Read More</h4>
        </span>
      </div>
    </div>

    <div class="spa">
      <h1>BEAUTY AND SPA CENTER</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. remaining essentially
        unchanged. It was popularised in the with theLorem Ipsum is simply dummy
        text of the printing and eentially unchanged.
      </p>

      <div class="diapo-spa">
        <img src="" alt="" />
        <div class="little-box-diapo-spa">
          <h4>Sauna Massage NATURAL HEALTH</h4>
        </div>
      </div>
    </div>

    <div class="specialist">
      <h1>Our Experience Specialists</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled
      </p>
      <div class="box-diapo-specialist">
        <div class="diapo-specialist">
          <img src="" alt="" />
          <h6>Mattie Joshef</h6>
          <p>dematologist</p>
        </div>
        <div class="diapo-specialist">
          <img src="" alt="" />
          <h6>Mattie Joshef</h6>
          <p>dematologist</p>
        </div>
        <div class="diapo-specialist">
          <img src="" alt="" />
          <h6>Mattie Joshef</h6>
          <p>dematologist</p>
        </div>
      </div>
    </div>
  </body>
</html>
